.bg-primary {
  background-color: #00853e!important;
}

hr.star-light:after {
  color: #fff;
  background-color: #00853e;
}

:root {
  /*--blue: #007bff;*/
  /*--indigo: #6610f2;*/
  /*--purple: #6f42c1;*/
  /*--pink: #e83e8c;*/
  /*--red: #dc3545;*/
  /*--orange: #fd7e14;*/
  /*--yellow: #ffc107;*/
  /*--green: #28a745;*/
  /*--teal: #20c997;*/
  /*--cyan: #00853e;*/
  /*--white: #fff;*/
  /*--gray: #868e96;*/
  /*--gray-dark: #343a40;*/
  --primary: #00853e;
  /*--secondary: #2c3e50;*/
  /*--success: #28a745;*/
  /*--info: #00853e;*/
  /*--warning: #ffc107;*/
  /*--danger: #dc3545;*/
  /*--light: #f8f9fa;*/
  /*--dark: #343a40;*/
  /*--breakpoint-xs: 0;*/
  /*--breakpoint-sm: 576px;*/
  /*--breakpoint-md: 768px;*/
  /*--breakpoint-lg: 992px;*/
  /*--breakpoint-xl: 1200px;*/
  /*--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
  /*--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #00853e;
}

